/*@import "bourbon";

$accent: #ff4081;
$primary: #1976d2;*/
/* Smartphones (portrait and landscape) ----------- */

 


body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    vertical-align: baseline;
    background: transparent
}


.navigation {
    background-color: black;
    width:100%;
    height: 60px;
}
.icons{
    position: absolute;
    left: 0px;
    width: 300px;
    padding: 10px;
    float:none;
}
.profInfo{
    background: transparent;
    left: 227px; 
    width: 50%; 
    float:left; 
    text-align: justify;
    
}
.workInfo{
    background: transparent;
    left: 227px; 
    width: 50%;   
    float:left; 
    clear: left;
    text-align: justify;
}
.heading{
    border-bottom: 2px solid #a6a8ab;
}
.skills{
    background: transparent;
    left: 391px; 
    width: 22%; 
    text-align: justify;
    margin-left: 232px;
    position: absolute;
    
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */
.skills{
    margin-left: 0px;
}
}
.page,.main{
    border-style: ridge;
    border-radius: 25px;
    background: transparent;
    background-color: #f1eded;
    top: 60px; 
    left: 227px; 
    width: 60%; 
    position: absolute;
}
.info{
    background: transparent;
    left: 227px; 
    top: 390px; 
    position: absolute;
}

.projectBorder{
    border-bottom: 2px solid #a6a8ab;
    padding-bottom:20px;
}

.projectInfo{
    background: transparent;
    left: 227px; 
    width: 60%; 
    float:left; 
    text-align: justify;
    border-bottom: 2px solid #a6a8ab;
    padding-bottom:20px;
    top: 260px; 
position: absolute;
}

h1,h3{
    color: #bada55;
    
}
.contact{
    text-align: center;
}
.quintus_container{
    top:200px;
    left:300px;
}

.imageDiv{
    margin:4px;
    height:200px;
    width: 200px;
    float: left;
}

.imageCVDiv{
    height:330px;
    width: 330px;
    float: right;
}
.profilepic{
    height:200px;
    width: 200px;
}

.iconspic{
    height:30px;
    width: 30px;
}

.intro{
margin-left: 250px;
}

.gameHeading{   
    margin-top: 200px;
    margin-left: 227px;
    margin-right: 200px;
}


.headerUl { margin: 1px 0 0 0; padding: 0; 
        font-size: larger;
        display: inline-block;
        margin-right: 5px;
}
        a {
            display: inline-block;
            padding: 30px 20px;
            color: #bada55;
            text-decoration: none;

            &:hover {
                color: darken(#bada55, 20%);
                background: lighten(#bada55, 30%);
            }

        }
        
        &.current {
            a {
               
                color: #fff;
                background: $accent;
            }
        }

.active {
                 border-top: solid 7px #bada55;
            }
.content {
    display: inline-block;
    padding: 20px;
    background: $accent;
    
    img { max-width: 100%; }
}